<!DOCTYPE html>
<!-- 
	Go Jose!
	Gordon Mo, Joshua Liu, Selena Ho
	SoftDev
	K12 -- POST requests
	2022-10-17
	time spent: 0.9
 -->


<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>
	<h2>TNPG: Go Jose!</h2>
	<h2>Gordon Mo, Joshua Liu, Selena Ho</h2>
	<h3>Hello your username is {{username}}!</h3>
	<p>The request method we used was request.form.</p>
	<p><b>GET:</b> 
		GET is mainly for retrieving data, like when opening a Google doc. 
		GET should be used for smaller pieces of data because it's passed in the url.
	</p>
	<p><b>POST:</b> 
		In order to get data back with POST, data has to be sent to the server in order to get it back (like how we submitted a username before displaying it in the response page).
		POST is used for modifying data, like modifying a Google doc.
	</p>
  <body>
    
  </body>

</html>
